[辻真吾・矢吹太朗『ゼロからはじめるデータサイエンス入門』（講談社, 2021）](https://github.com/taroyabuki/fromzero)

In [ ]:
# Google Colaboratoryの環境設定
if (file.exists("/content")) {
  options(Ncpus = parallel::detectCores())
  installed_packages <- rownames(installed.packages())
  packages_to_install <- c("furrr", "keras", "proxy")
  install.packages(setdiff(packages_to_install, installed_packages))
  install.packages(c("ggplot2"))
}

## 3.1 入門

In [ ]:
0x10

In [ ]:
1.23e5

In [ ]:
2 * 3

In [ ]:
10 / 3

In [ ]:
10 %/% 3 # 商

10 %% 3  # 余り

In [ ]:
x <- 2
y <- 3
x * y

keras::`%<-%`(c(x, y), c(20, 30)) # まとめて名付け
x * y

In [ ]:
x <- 1 + 1
# この段階では結果は表示されない

x # 変数名を評価する．

In [ ]:
my_s <- "abcde"

In [ ]:
nchar(my_s)

In [ ]:
library(tidyverse)
str_c("This is ", "a", " pen.")

In [ ]:
substr(x = my_s, start = 2, stop = 4)

In [ ]:
tmp <- "%s is %s."
sprintf(tmp, "This", "a pen")

In [ ]:
1 <= 2

1 < 0

In [ ]:
0.1 + 0.1 + 0.1 == 0.3

all.equal(0.1 + 0.1 + 0.1, 0.3)

In [ ]:
TRUE & FALSE # 論理積（かつ）

TRUE | FALSE # 論理和（または）

!TRUE        # 否定（でない）

In [ ]:
ifelse(3 < 5, 0, 10)

In [ ]:
getwd()

In [ ]:
setwd("..")
getwd()

## 3.2 関数

In [ ]:
sqrt(4)

In [ ]:
log(100, 10)

In [ ]:
log(100)         # 自然対数
# あるいは
log(100, exp(1)) # 省略しない場合

In [ ]:
log10(100) # 常用対数

log2(1024) # 底が2の対数

In [ ]:
library(tidyverse)
4 %>% sqrt

In [ ]:
exp(log(5))       # 通常の書き方
# あるいは
5 %>% log %>% exp # パイプを使う書き方

In [ ]:
f <- function(a, b) {
  a - b
}

In [ ]:
f(3, 5)

In [ ]:
f <- function(a, b = 5) {
  a - b
}

f(3) # f(3, 5)と同じこと

In [ ]:
(function(a, b) { a - b })(3, 5)

## 3.3 コレクション

In [ ]:
x <- c("foo", "bar", "baz")

In [ ]:
length(x)

In [ ]:
x[2]

In [ ]:
x[2] <- "BAR"
x # 結果の確認

x[2] <- "bar" # 元に戻す．

In [ ]:
x[-2]

In [ ]:
c(x, "qux")

In [ ]:
x <- c(x, "qux")
x # 結果の確認

In [ ]:
1:5

In [ ]:
seq(from = 0, to = 10, by = 2)

In [ ]:
seq(from = 0, to = 1, by = 0.5)

In [ ]:
seq(from = 0, to = 100, length.out = 5)

In [ ]:
rep(x = 10, times = 5)

In [ ]:
tmp <- c("グー", "パー", "グー", "パー")
x <- factor(tmp, levels = c("グー", "チョキ", "パー"))
x

In [ ]:
x <- c(2, 3, 5, 7)

x + 10 # 加算

x * 10 # 乗算

In [ ]:
x <- c(2, 3)
sin(x)

In [ ]:
x <- c(2,  3,   5,    7)
y <- c(1, 10, 100, 1000)
x + y

x * y

In [ ]:
sum(x * y)

In [ ]:
x <- c(TRUE, FALSE)
y <- c(TRUE, TRUE)
x & y

In [ ]:
u <- c(1, 2, 3)
v <- c(1, 2, 3)
w <- c(1, 2, 4)

identical(u, v) # 全体の比較

identical(u, w) # 全体の比較

u == v          # 要素ごとの比較

u == w          # 要素ごとの比較

In [ ]:
sum(u == w)  # 同じ要素の数

mean(u == w) # 同じ要素の割合

In [ ]:
x <- list(1, "two")

In [ ]:
x[[2]]

In [ ]:
x <- list("apple"  = "りんご",
          "orange" = "みかん")

In [ ]:
x[["grape"]] <- "ぶどう"

In [ ]:
x$apple
# あるいは
x$"apple"
# あるいは
x[["apple"]]
# あるいは
tmp <- "apple"
x[[tmp]]

In [ ]:
x <- c("foo", "bar", "baz")
y <- x
y[2] <- "BAR" # yを更新する．
y

x             # xは変わらない．

## 3.4 データフレーム

In [ ]:
library(tidyverse)

In [ ]:
my_df <- data.frame(
  name    = c("A", "B", "C", "D"),
  english = c( 60,  90,  70,  90),
  math    = c( 70,  80,  90, 100),
  gender  = c("f", "m", "m", "f"))

In [ ]:
my_df <- tribble(
  ~name, ~english, ~math, ~gender,
  "A",         60,    70,     "f",
  "B",         90,    80,     "m",
  "C",         70,    90,     "m",
  "D",         90,   100,     "f")

In [ ]:
head(my_df)
# 結果は割愛

In [ ]:
dim(my_df)  # 行数と列数

nrow(my_df) # 行数

ncol(my_df) # 列数

In [ ]:
my_df2 <- expand.grid(
  X = c(1, 2, 3),
  Y = c(10, 100))
my_df2

In [ ]:
colnames(my_df2)

In [ ]:
colnames(my_df2) <- c("P", "Q")
my_df2
# 以下省略

In [ ]:
row.names(my_df)

In [ ]:
row.names(my_df2) <-
  c("a", "b", "c", "d", "e", "f")
my_df2
# 以下省略

In [ ]:
my_df3 <- data.frame(
  english =   c( 60,  90,  70,  90),
  math    =   c( 70,  80,  90, 100),
  gender  =   c("f", "m", "m", "f"),
  row.names = c("A", "B", "C", "D"))
my_df3

In [ ]:
tmp <- data.frame(
  name    = "E",
  english =  80,
  math    =  80,
  gender  = "m")
my_df2 <- rbind(my_df, tmp)

In [ ]:
my_df2 <- my_df %>%
  mutate(id = c(1, 2, 3, 4))

In [ ]:
my_df3 <- my_df               # コピー
my_df3["id"] <- c(1, 2, 3, 4) # 更新
my_df3 # 結果の確認（割愛）

In [ ]:
my_df[1, 2]

In [ ]:
x <- my_df[, 2]
# あるいは
x <- my_df$english
# あるいは
x <- my_df$"english"
# あるいは
x <- my_df[["english"]]
# あるいは
tmp <- "english"
x <- my_df[[tmp]]

x # 結果の確認（割愛）

In [ ]:
x <- my_df %>% select(name, math)

In [ ]:
x <- my_df[, c(1, 3)]

In [ ]:
x <- my_df %>%
  select(-c(english, gender))
# あるいは
x <- my_df[, -c(2, 4)]

In [ ]:
x <- my_df[c(1, 3), ]

In [ ]:
x <- my_df[-c(2, 4), ]

In [ ]:
x <- my_df[my_df$gender == "m", ]
# あるいは
x <- my_df %>% filter(gender == "m")

In [ ]:
x <- my_df[my_df$english > 80 & my_df$gender == "m", ]
# あるいは
x <- my_df %>% filter(english > 80 & gender == "m")

In [ ]:
x <- my_df[my_df$english == max(my_df$english), ]
# あるいは
x <- my_df %>% filter(english == max(my_df$english))

In [ ]:
my_df2 <- my_df # コピー
my_df2[my_df$gender == "m", ]$gender <- "M"

In [ ]:
my_df2

In [ ]:
x <- my_df %>% arrange(english)

In [ ]:
x <- my_df %>% arrange(-english)

In [ ]:
x <- c(2, 3, 5, 7, 11, 13, 17, 19, 23,
       29, 31, 37)
A <- matrix(
  data = x,     # 1次元データ
  nrow = 3,     # 行数
  byrow = TRUE) # 行ごとの生成
A

In [ ]:
A <- my_df[, c(2, 3)] %>% as.matrix
A

In [ ]:
as.data.frame(A)

In [ ]:
t(A)

In [ ]:
t(A) %*% A

In [ ]:
my_wider <- data.frame(
  day = c(25, 26, 27),
  min = c(20, 21, 15),
  max = c(24, 27, 21))

In [ ]:
my_longer <- my_wider %>%
  pivot_longer(-day)
my_longer

In [ ]:
my_longer %>% pivot_wider()

In [ ]:
my_longer %>%
  ggplot(aes(x = day, y = value,
             color = name)) +
  geom_point() +
  geom_line() +
  ylab("temperature") + # y軸ラベル
  scale_x_continuous(
    breaks = my_longer$day) # x軸目盛り

## 3.5 1次元データの（非）類似度

In [ ]:
A <- c(3,   4,  5)
B <- c(3,   4, 29)
C <- c(9, -18,  8)
AB <- B - A
AC <- C - A

sum(AB^2)^0.5

sum(AC^2)^0.5

In [ ]:
sum(abs(AB))

sum(abs(AC))

In [ ]:
sum(A * B) /
  sum(A * A)^0.5 / sum(B * B)^0.5

sum(A * C) /
  sum(A * A)^0.5 / sum(C * C)^0.5

In [ ]:
cor(A, B)

cor(A, C)

In [ ]:
library(tidyverse)



my_df <- data.frame(
  x = c(3,  3,   9),
  y = c(4,  4, -18),
  z = c(5, 29,   8),
  row.names = c("A", "B", "C"))

# ユークリッド距離
my_df %>% proxy::dist("Euclidean")


# マンハッタン距離
my_df %>% proxy::dist("Manhattan")


# コサイン類似度
my_df %>% proxy::simil("cosine")


# 相関係数
my_df %>% proxy::simil("correlation")

## 3.6 Rのパッケージ，Pythonのモジュール

In [ ]:
library(tidyverse)

## 3.7 反復処理

In [ ]:
library(tidyverse)

In [ ]:
f1 <- function(x) {
  tmp <- runif(x)
  mean(tmp)
}

f1(10)           # 動作確認

In [ ]:
replicate(n = 3, expr = f1(10))

In [ ]:
rep(x = f1(10), times = 3)

In [ ]:
v <- c(5, 10, 100)
v %>% map_dbl(f1)

In [ ]:
rep(x = 10, times = 3) %>% map_dbl(f1)
# 結果は割愛

In [ ]:
f2 <- function(n) {
  tmp <- runif(n)
  list(x = n,
       p = mean(tmp),
       q = sd(tmp))
}

f2(10) # 動作確認

In [ ]:
v <- c(5, 10, 100)
v %>% map_dfr(f2)

In [ ]:
f3 <- function(x, y) {
  tmp <- runif(x, min = 1,
                  max = y + 1) %>%
    as.integer
  list(x = x,
       y = y,
       p = mean(tmp),
       q = sd(tmp))
}

f3(x = 10, y = 6) # 動作確認

In [ ]:
my_df <- data.frame(
  x = c(5, 10, 100,  5, 10, 100),
  y = c(6,  6,   6, 12, 12,  12))

my_df %>% pmap_dfr(f3)

In [ ]:
library(furrr)
plan(multisession) # 準備

v <- c(5, 10, 100)
v %>% future_map_dbl(f1, .options =
  furrr_options(seed = TRUE))
# 結果は割愛

## 3.8 その他

In [ ]:
x <- 123
typeof(x)

In [ ]:
?log
# あるいは
help(log)

In [ ]:
v <- c(1, NA, 3)
v

In [ ]:
is.na(v[2])

v[2] == NA # 誤り